* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(235, 235, 235);
}

main {
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;

}

.corps 
    border: 5px solid rgba(128, 128, 128, 0.281);
    width: 350px;
    height: 600px;
    border-radius: 7px;
   
}
.corps{
    background-color: aquamarine;
}
button{
    background-color: black;
    color: blanchedalmond;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: auto;
}

